<nav class="navbar border border-dark navStyle">{{log signed_user}}

  <a class="nav-link displayName ">{{signedin_user.displayName}}</a>
  <input type="hidden" id="userId" name="userId" value={{signedin_user.user_id}}>
  <form class "form-control mr-sm-2 siteLogo " action="" placeholder="Site Logo">
    <h1>Tickets Galore
      <sup>&reg;</sup>
    </h1>
  </form>

  <form id="labnol" class="form-inline" method="get" action="https://www.google.com/search">
    <input class="form-control mr-sm-2" type="text" name="q" id="transcript" placeholder="Search / Speak">
    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container prefDiv ">
  <div class="row justify-content-start m-2 p-2 border border-dark navStyle">
    <div class="col-12">
      <button type="button" id="pbutton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Update/Add Preferences
      </button>
      <ul id="menu">
        {{#each userInterests}}
        <li>
          <input type="radio" name="pref" value="{{lookup_event.event_name}}">
          <img src="{{lookup_event.image_stored_at}}" alt height="10%" width="10%">
        </li>
        {{/each}}
      </ul>

    </div>

  </div>
  <div class="col-1 ">
  </div>

  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-6 border border-dark text-center navStyle p-2 m-2">
        {{!-- add handlebars loop here --}}
        <H1>Your Tickets</H1>
        <ul class="myTickets">
          {{#each myTickets}} {{> tickets/my_ticket_item_partial }} {{/each}}
        </ul>
      </div>

      <!-- trade history here which may have items bought and items wanted -->
      <div id="userTradeHistory" class="col-4 justify-content-end border border-dark text-center userTrade navStyle m-2 p-2">
        {{!-- add handlebars loop here --}} {{! middle section: trade history order by popularity !}}
        <H1>Wish List</H1>
        <ul class="wishList">
          {{#each myTicketTradeHistory}}
          <li>
            <div class="row">
              <div class="col-md-2">{{ticket_name}}</div>
              <div class="col-md-2">{{location}}</div>
              <div class="col-md-6">{{description}}</div>
              <div class="col-md-2">{{price}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>

  <!-- my ticket trade cards -->
  <div class="header-bg">
    <div id="preloader">
      <div class="preloader">
        <div class="row">
          <div class="col-md-12 d-inline-block" id="ticket-card-list">
            {{#each ticketTrades}} {{#if ticketTrades}} {{> tickets/ticket_trade_card_partial}} {{/if}} {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center">Tickets available for purchace or trade</h3>
  <h4 class="text-center">There are {{tickets.length}} available tickets.</h4>
  <div class="container border border-dark availableTickets navStyle">
    <div class="row lead ">
      <div class="col-md-2">Ticket name</div>
      <div class="col-md-2">Location</div>
      <div class="col-md-2">Description</div>
      <div class="col-md-2">Price</div>
      <div class="col-md-2">Owner</div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-12" id="ticket-list">
        <ul>
          {{#each tickets}} {{> tickets/ticket_item_partial}} {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 border border-dark navStyle mt-2 mb-2">
        <form class="create-ticket-form">
          <fieldset>
            <legend></legend>
            <div class="form-group">
              <h2 class="text-center">Add a ticket</h2>
              <label class="form-control-label" for="email"></label>
              <input type="text" id="email" name="email" placeholder="Enter your email address" class="form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="ticket_name"></label>
              <div class="btn-group ticket-name-dropdown">
                <button type="button" class="btn btn-light btn-ticket-name" id="ticket_name" name="ticket_name">Select ticket name</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu ticket-name-dropdown-menu" id="ticket-dropdown">
                  <ul class="list-unstyled">
                    {{#each lookupEvents}}
                    <li>
                      <a class="dropdown-item" data-lookupeventid={{lookup_event_id}}>{{event_name}}</a>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="location"></label>
              <input type="text" id="location" name="location" placeholder="Enter a location" class="form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="price"></label>
              <input type="text" id="price" name="price" placeholder="Enter a ticket price" class="form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="description"></label>
              <input type="text" id="description" name="description" placeholder="Enter a ticket description" class="form-control-lg">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary mb-3">Add</button>
        </form>
        <label>Enter a ticket you want to store and click the "Add" button</label>
      </div>
    </div>
  </div>

  <footer class="footer navbar-fixed-bottom">
    {{! bottom section: user-specific info !}}
    <div class="container navStyle">
      <div class="row  justify-content-center border border-dark text-center">
        <div class="col-12">
          <ul>
            <h1>user specific info: notifications from site, preferences </h1>
            <H3 class="text-center">Your Intrests</H3>
            {{#each user_interests}}
            <li>
              <p>
                <button data-user_interestsid="{{this.id}}" class="yourStuff btn btn-success">Devour</button>
                <label class=" p-2 rounded bg-dark text-white placeholder=" " disabled">
                  {{this.user_id}}</label>
              </p>
            </li>
            {{/each}}
          </ul>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
            <input type="text" class="form-control" placeholder="Submit your ticket to sell here" aria-label="" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
            <input type="text" class="form-control" placeholder="Submit your bid here" aria-label="" aria-describedby="basic-addon1">
          </div>

        </div>
      </div>
    </div>


    <div class="container">
      <p class="text-center" id="footer-copy">&copy; 2017 Tickets Galore Co. All Rights Reserved.</p>
    </div>
  </footer>



  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>
                  <div class="row test123">
                    <!-- icons for the modal loaded dynamiclly -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="submit" class="btn btn-danger" data-dismiss="modal">Submit</button>
        </div>

      </div>
    </div>
  </div>

  <section class="download text-center" id="download">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-5"></div>
        <div class="col-2 form-group">
          <label for="exampleInputPassword1">Find events near you!</label>
          <input type="text" class="form-control" id="eventInput" placeholder="look up an event">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <button type="submit" id="submit-btn" class="col-2 btn btn-primary">Submit</button>
      <div class="col-5"></div>
    </div>
  </section>
  <div id="events">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>

    </table>

  </div>